doctype html
html
  head
    meta(http-equiv='content-type' content='text/html; charset=UTF-8')
    meta(name='robots' content='noindex, nofollow')
    meta(name='googlebot' content='noindex, nofollow')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/style.css', type='text/css')
  body
    script(src='https://code.highcharts.com/stock/highstock.js')
    script(src='https://code.highcharts.com/stock/modules/boost.js')
    script(src='https://code.highcharts.com/stock/modules/exporting.js')
    script(src='https://code.highcharts.com/stock/modules/broken-axis.js')
    script(src='javascripts/helper.js')
    figure.highcharts-figure
      #container(data-highcharts-chart='0' style='overflow: hidden;')
      select#serverSelector(onmouseover='updateSelector()' onchange='data()')
